html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	background: rgb(7 1 9 / 30%);
}
body {
	width: 650px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
	background-color: #1b1b1b;
	border: 3px solid black;
}
h1 {
	color: blue;
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00e59b;
	text-shadow: 3px 2px 1px black;
}

p, li {
	color: blue;
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}

/**img[src]
 * pegando por uma propriedade
 * */


#changeImg{
	width: 200px;
	display: block;
	margin: 0 auto;

}
a {
	text-align: center;
}

/*


*/